body {
    background-color: lightblue;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
}

.nav {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
    margin: 10px;
}

.nav a {
    color: black;
    padding: 10px;
}

.nav a:hover {
    background-color: lightblue;
}

.header-footer {
    color: white;
    background-color: rgb(8, 178, 178);
    padding: 10px;
    margin: 10px;
    text-align: center;
    clear: both;
}

.main {
    background-color: lightblue;
    color: white;
    padding: 15px;
    margin: 10px;
    width: 60%;
    float: left;
    border: 3px solid black;
}

.main section {
    background-color: darkslategrey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    position: relative;
}

.logo-link img {
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.aside {
    background-color: darkslategrey;
    color: white;
    padding: 25px;
    margin: 10px;
    width: 20%;
    float: right;
    margin-bottom: 10px;
    border: 3px solid black;
}

.aside:hover {
    background-color: darkseagreen;
}