body {
    background-color: lightblue;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
}

.nav {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
    margin: 10px;
}

.nav a {
    color: black;
    padding: 10px;
}

.nav a:hover {
    background-color: lightblue;
}

.header {
    color: white;
    background-color: darkslategrey;
    padding: 10px;
    margin: 10px;
    text-align: center;
    clear: both;
}

.main {
    background-color: lightblue;
    color: white;
    padding: 2px;
    margin: 20px;
    display: flex;
    justify-content: center;
}